.box1{
  height: 50vh;
  background: linear-gradient(red, green);
  width: 60vh;
  margin-top: 8vh;
  padding-top: 6vh;
  justify-content: space-around;
  border-radius: 20px;

}
.input{
  margin-top: 40vh;
  
}
h3{
  color: white;
}
::placeholder{
  padding-left: 10px;
}